<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <td>Project Name</td><td>Description</td>
    </tr>
  </thead>

  <tbody>
  <% unless @projects.nil? || @projects.empty?  %>
    <% @projects.each do |project| %>
      <tr class="project-row">
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project, class: 'show-link' %></td>
        <% if current_user.type == "Leader" &&  project.organization.leader_id == current_user.id %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>
<% if current_user.type == "Leader" %>
  <%= link_to 'New Project', new_project_path %>
<% end %>