<!-- <p id="notice"><%= notice %></p>-->

<% if current_user.type == "Employer" &&  @project.organization.employer_id == current_user.id %>
  <%= link_to 'Edit', edit_project_path(@project) %> 
<% elsif current_user.type == "Student" %>
  <% if @joined %>
    <%= link_to 'Leave Project', '/projects/' + @project.id.to_s + "/leave", class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Join Project', '/projects/' + @project.id.to_s + "/join", class: "btn btn-primary" %>
  <% end %>
<% end %>
<%= link_to 'Back', projects_path %>


<h2>Project Info</h2>
<p>Project name: <%= @project.name %></p>
<p>Project description: <%= @project.description %></p>
<p>owned by : <%= @project.organization.name %></p>
<p>contact: <%= @project.organization.contact_email %></p>

<h2>Milestones</h2>


<h2>Content</h2>



