<p id="notice"><%= notice %></p>

<% if current_user.type == "Leader" &&  project.organization.leader_id == current_user.id %>
  <%= link_to 'Edit', edit_project_path(@project) %> 
<% end %>
<%= link_to 'Back', projects_path %>

<h2>Project Info</h2>
<p>Project name: <%= @project.name %></p>
<p>Project description: <%= @project.description %></p>
<p>owned by : <%= @project.organization.name %></p>
<p>contact: <%= @project.organization.contact_email %></p>

<h2>Milestones</h2>


<h2>Content</h2>



